<div class="container">
	<h1>Express Web Server Example</h1>
	<p>Description: Test the API server (expressAPIServer) by viewing depts, viewing courses, and adding courses through the API.</p>

	<hr>
	<!-- Gets deptartments, current landing screen -->
	<form method="GET" action="/">
		<button type="submit" id="submit">Show departments</button>
	</form>
	<hr>

	<TABLE>
	<tr><td>
	<!-- Show department -->
	<form method="GET" action="/classes">
		Department code:<input type="text" name="codeTextbox" id="codeTextbox">
	</td><td><button type="submit" id="submit">Show classes</button>
	</form>
	</td></tr>
	<tr><td>

	</td></tr></TABLE><hr><table>

	<!-- add new class, this should be good, web team will need to add dropdown for dept though -->
	<form method="POST" action="/newClass" >
		<tr>
		<td>
		Department:
		</td>
		<td>
		Class number:
		</td>
		<td>
		Class name:
		</td>
		<td rowspan=2><button type="submit" id="submit">Add Course</button></td>
		</tr>
		<tr>
		<td><input label="deptTextbox" type="text" name="deptTextbox" id="deptTextbox" required></td>
		<td><input label="numTextbox" type="text" name="numTextbox" id="numTextbox" required></td>
		<td><input label="nameTextbox" type="text" name="nameTextbox" id="nameTextbox" required></td>
		</tr>
	</form>
	</TABLE>
	<hr>
	<!-- this is super janky -->
	<!-- this is the way... the express way-->
	<div id="tasks_container">
		 <ul>
				{{#each items}}
				<li><b>{{dept_code}}{{class_num}}:</b> {{dept_name}}{{class_name}}</li>
				{{/each}}
		 </ul>
	</div>
</div>
