<!DOCTYPE html>
<html>
   <head>
      <title>Classy-Schedule Proto</title>
      <link rel="stylesheet" type="text/css" href="/styles/index.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
   <body>
      {{{body}}}
   </body>
</html>
